<?xml version="1.0"?>
<launch>
  <arg name="ns" default="" />
  <arg name="prefix" default="" />

  <arg name="gripper" default="none" />
  <arg name="mobile" default="none" />

  <arg name="color" default="none" />

  <include file="$(find tmr_description)/launch/tmr_description_upload.launch">
    <arg name="model" value="tm5-900" />
    <arg name="ns" value="$(arg ns)" />
    <arg name="prefix" value="$(arg prefix)" />
    <arg name="gripper" value="$(arg gripper)" />
    <arg name="mobile" value="$(arg mobile)" />
    <arg name='color' value="$(arg color)" />
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- TODO: if ns, remap ? -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tmr_description)/launch/view.rviz" required="true" />

</launch>
