<?xml version="1.0"?>
<launch>
  <arg name="model" default="tm5-900" />
  <arg name="ns" default="" />
  <arg name="prefix" default="" />

  <arg name="gripper" default="none" />
  <arg name="mobile" default="none" />

  <arg name="color" default="none" />

  <!-- Arm -->
  <group if="$(eval arg('mobile') == 'none')">
    <param name="/robot_description" command="$(find xacro)/xacro --inorder '$(find tmr_description)/xacro/$(arg model).urdf.xacro' ns:=$(arg ns) prefix:=$(arg prefix) gripper:=$(arg gripper) color:=$(arg color)" />
  </group>

  <!-- Arm + Mobile -->

</launch>
