<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find tmr_description)/xacro/macro.inertial.xacro" />

  <xacro:macro name="tm5-900" params="ns prefix
    color:=none format:=obj">
<!--
    <xacro:property name="shoulder_offset" value="0.146" />
    <xacro:property name="elbow_offset" value="0.1297" />
    <xacro:property name="wrist_offset" value="0.106" />
-->
    <xacro:property name="mass_0" value="1.0" />
    <xacro:property name="mass_1" value="4.5" />
    <xacro:property name="mass_2" value="11.0" />
    <xacro:property name="mass_3" value="2.5" />
    <xacro:property name="mass_4" value="1.45" />
    <xacro:property name="mass_5" value="1.45" />
    <xacro:property name="mass_6" value="0.4" />

<!--LinkDescription-->
  <link name="${prefix}link_0">
    <visual>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/visual/tm5_base.${format}" />
      </geometry>
      <material name="${color}" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/collision/tm5_base_c.stl" />
      </geometry>
    </collision>
    <xacro:cylinder_inertial_z length="0.05" mass="${mass_0}" radius="0.06">
      <origin rpy="0 0 0" xyz="0 0 0" />
    </xacro:cylinder_inertial_z>
  </link>
  <joint name="${prefix}joint_1" type="revolute">
    <parent link="${prefix}link_0" />
    <child link="${prefix}link_1" />
    <origin rpy="0.000000 -0.000000 -0.000018" xyz="0.000000 0.000000 0.145100" />
    <axis xyz="0 0 1" />
    <limit effort="320.0" lower="-4.8346" upper="4.8346" velocity="3.14" />
  </joint>
  <link name="${prefix}link_1">
    <visual>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/visual/tmr_400w_01.${format}" />
      </geometry>
      <material name="${color}" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/collision/tmr_400w_01_c.stl" />
      </geometry>
    </collision>
    <xacro:cylinder_inertial_z length="0.15" mass="${mass_1}" radius="0.06">
      <origin rpy="0 0 0" xyz="0 0 0" />
    </xacro:cylinder_inertial_z>
  </link>
  <joint name="${prefix}joint_2" type="revolute">
    <parent link="${prefix}link_1" />
    <child link="${prefix}link_2" />
    <origin rpy="-1.208300 -1.569562 -0.362515" xyz="0.000010 0.000068 0.000000" />
    <axis xyz="0 0 1" />
    <limit effort="320" lower="-3.2638" upper="3.2638" velocity="3.14" />
  </joint>
  <link name="${prefix}link_2">
    <visual>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/visual/tm5-900_arm1.${format}" />
      </geometry>
      <material name="${color}" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/collision/tm5-900_arm1_c.stl" />
      </geometry>
    </collision>
    <xacro:cylinder_inertial_x length="0.429" mass="${mass_2}" radius="0.06">
      <origin rpy="0 0 0" xyz="0.2145 0 -0.146" />
    </xacro:cylinder_inertial_x>
  </link>
  <joint name="${prefix}joint_3" type="revolute">
    <parent link="${prefix}link_2" />
    <child link="${prefix}link_3" />
    <origin rpy="0.005376 -0.000593 0.006547" xyz="0.429029 -0.000000 0.000068" />
    <axis xyz="0 0 1" />
    <limit effort="320" lower="-2.8274" upper="2.8274" velocity="3.14" />
  </joint>
  <link name="${prefix}link_3">
    <visual>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/visual/tm5-900_arm2.${format}" />
      </geometry>
      <material name="${color}" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/collision/tm5-900_arm2_c.stl" />
      </geometry>
    </collision>
    <xacro:cylinder_inertial_x length="0.4115" mass="${mass_3}" radius="0.045">
      <origin rpy="0 0 0" xyz="0.20575 0 -0.0163" />
    </xacro:cylinder_inertial_x>
  </link>
  <joint name="${prefix}joint_4" type="revolute">
    <parent link="${prefix}link_3" />
    <child link="${prefix}link_4" />
    <origin rpy="-0.001062 -0.001154 1.571161" xyz="0.411623 0.000141 -0.122132" />
    <axis xyz="0 0 1" />
    <limit effort="80" lower="-3.2638" upper="3.2638" velocity="3.92" />
  </joint>
  <link name="${prefix}link_4">
    <visual>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/visual/tmr_100w_01.${format}" />
      </geometry>
      <material name="${color}" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/collision/tmr_100w_01_c.stl" />
      </geometry>
    </collision>
    <xacro:cylinder_inertial_y length="0.12" mass="${mass_4}" radius="0.045">
      <origin rpy="0 0 0" xyz="0 0 0" />
    </xacro:cylinder_inertial_y>
  </link>
  <joint name="${prefix}joint_5" type="revolute">
    <parent link="${prefix}link_4" />
    <child link="${prefix}link_5" />
    <origin rpy="1.571314 -0.001443 0.000362" xyz="-0.000095 -0.106061 -0.000055" />
    <axis xyz="0 0 1" />
    <limit effort="80" lower="-3.2638" upper="3.2638" velocity="3.92" />
  </joint>
  <link name="${prefix}link_5">
    <visual>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/visual/tmr_100w_02.${format}" />
      </geometry>
      <material name="${color}" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/collision/tmr_100w_02_c.stl" />
      </geometry>
    </collision>
    <xacro:cylinder_inertial_y length="0.12" mass="${mass_5}" radius="0.045">
      <origin rpy="0 0 0" xyz="0 0 0" />
    </xacro:cylinder_inertial_y>
  </link>
  <joint name="${prefix}joint_6" type="revolute">
    <parent link="${prefix}link_5" />
    <child link="${prefix}link_6" />
    <origin rpy="1.571355 -0.011670 0.001437" xyz="0.000183 -0.114320 -0.000064" />
    <axis xyz="0 0 1" />
    <limit effort="80" lower="-4.8346" upper="4.8346" velocity="3.92" />
  </joint>
  <link name="${prefix}link_6">
    <visual>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/visual/tmr_ee.${format}" />
      </geometry>
      <material name="${color}" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tmr_description/meshes/tm5-900/collision/tmr_ee_c.stl" />
      </geometry>
    </collision>
    <xacro:cylinder_inertial_z length="0.06" mass="${mass_6}" radius="0.045">
      <origin rpy="0 0 0" xyz="0 0 0" />
    </xacro:cylinder_inertial_z>
  </link>
  <link name="${prefix}base" />
  <joint name="${prefix}base_fixed_joint" type="fixed">
    <parent link="${prefix}base" />
    <child link="${prefix}link_0" />
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
  </joint>
  <link name="${prefix}flange" />
  <joint name="${prefix}flange_fixed_joint" type="fixed">
    <parent link="${prefix}link_6" />
    <child link="${prefix}flange" />
    <origin rpy="0.012173 0.024881 0.000303" xyz="-0.000179 0.000000 0.000000" />
  </joint>
<!--LinkDescription-->

  </xacro:macro>

</robot>
