<?xml version="1.0" ?>
<robot name="tm5_900_dh">
<!--
    0_T_dh0: 0  0     0  -90 0   0 | dh0_T_0:   0 0     0  90 0  0
    axis: 1 0 0  -90 | 1 0 0  90
    1_T_dh1: 0  0     0 -180 0   0 | dh1_T_1:   0 0     0 180 0  0
    axis: 1 0 0 -180 | 1 0 0 180
    2_T_dh2: 0 a2   -d2 -180 0  90 | dh2_T_2: -a2 0   -d2 180 0 90
    axis: 1 1 0 -180 | 1 1 0 180
    3_T_dh3: 0 a3 d3-d2 -180 0  90 | dh3_T_3: -a3 0 d3-d2 180 0 90
    axis: 1 1 0 -180 | 1 1 0 180
    4_T_dh4: 0  0     0  -90 0   0 | dh4_T_4:   0 0     0  90 0  0
    axis: 1 0 0  -90 | 1 0 0  90
    5_T_dh5: 0  0     0    0 0   0 | dh5_T_5:   0 0     0   0 0  0
    
    6_T_dh6: 0  0     0    0 0   0 | dh6_T_6:   0 0     0   0 0  0
-->

    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/visual/tm5_base.stl" />
            </geometry>
            <material name="LightGrey">
                <color rgba="0.5 0.5 0.5 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/collision/tm5_base_c.stl" />
            </geometry>
        </collision>
    </link>

    <joint name="shoulder_1_joint" type="revolute">
        <parent link="base_link" />
        <child link="shoulder_1_link" />
        <origin xyz="0 0 0.1452" rpy="0 0 0" />
        <axis xyz="0 0 1" />
        <limit effort="100.0" lower="-3.14" upper="3.14" velocity="1.0" />
    </joint>

    <link name="shoulder_1_link">
        <visual>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/visual/tm_400w_01.stl" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/collision/tm_400w_01_c.stl" />
            </geometry>
        </collision>
    </link>

    <joint name="shoulder_2_joint" type="revolute">
        <parent link="shoulder_1_link" />
        <child link="arm_1_link" />
        <origin xyz="0 0 0" rpy="-1.570796 -1.570796 0" />
        <axis xyz="0 0 1" />
        <limit effort="100.0" lower="-3.14" upper="3.14" velocity="1.0" />
    </joint>

    <link name="arm_1_link">
        <visual>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/visual/tm5_900_arm1.stl" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/collision/tm5_900_arm1_c.stl" />
            </geometry>
        </collision>
    </link>

    <joint name="elbow_joint" type="revolute">
        <parent link="arm_1_link" />
        <child link="arm_2_link" />
        <origin  xyz="0.429 0 0" rpy="0 0 0" />
        <axis xyz="0 0 1" />
        <limit effort="100.0" lower="-3.14" upper="3.14" velocity="1.0" />
    </joint>

    <link name="arm_2_link">
        <visual>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/visual/tm5_900_arm2.stl" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/collision/tm5_900_arm2_c.stl" />
            </geometry>
        </collision>
    </link>

    <joint name="wrist_1_joint" type="revolute">
        <parent link="arm_2_link" />
        <child link="wrist_1_link" />
        <origin xyz="0.4115 0 -0.1223" rpy="0 0 1.570796" />
        <axis xyz="0 0 1" />
        <limit effort="10.0" lower="-3.14" upper="3.14" velocity="1.0" />
    </joint>

    <link name="wrist_1_link">
        <visual>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/visual/tm_100w_01.stl" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/collision/tm_100w_01_c.stl" />
            </geometry>
        </collision>
    </link>

    <joint name="wrist_2_joint" type="revolute">
        <parent link="wrist_1_link" />
        <child link="wrist_2_link" />
        <origin xyz="0 -0.106 0" rpy="1.570796 0 0" />
        <axis xyz="0 0 1" />
        <limit effort="10.0" lower="-3.14" upper="3.14" velocity="1.0" />
    </joint>

    <link name="wrist_2_link">
        <visual>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/visual/tm_100w_02.stl" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/collision/tm_100w_02_c.stl" />
            </geometry>
        </collision>
    </link>

    <joint name="wrist_3_joint" type="revolute">
        <parent link="wrist_2_link" />
        <child link="wrist_3_link" />
        <origin xyz="0 -0.11315 0" rpy="1.570796 0 0" />
        <axis xyz="0 0 1" />
        <limit effort="10.0" lower="-3.14" upper="3.14" velocity="1.0" />
    </joint>

    <link name="wrist_3_link">
        <visual>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/visual/tm_ee.stl" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://tm5_description/meshes/tm5_900_mdh/collision/tm_ee_c.stl" />
            </geometry>
        </collision>
    </link>

    <link name="base" />
    <joint name="base_fixed_joint" type="fixed">
        <parent link="base" />
        <child link="base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="tool0" />
    <joint name="tool0_fixed_joint" type="fixed">
        <parent link="wrist_3_link"/>
        <child link="tool0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
</robot>